@model List<ConfirmOrder>

<h1 class="account__title">My Order</h1>
<main class="account container">
    @* <nav class="account__nav">
        <ul>
            <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
            <li class="active"><a>My Order</a></li>
            <li><a asp-controller="User" asp-action="OrderHistory">Order History</a></li>
        </ul>
    </nav> *@

    <section class="">
        <table class="order">
            <thead class="order__header">
                <tr class="o">
                    <th>Id</th>
                    <th>Date Order</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Price</th>      
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="order__body">
                @if (Model is not null && Model.Any())
                {
                    @foreach(var order in Model)
                    {
                        <tr class="order__item o">
                            <td class="order__info">#@order.OrderId</td>
                            <td class="order__info-date2">@order.OrderDate.ToString("MMM. dd, yyyy")</td>
                            <td class="order__info-payment2">@order.PaymentMethod</td>
                            <td class="order__info-status2">@order.ItemStatus</td>
                            <td class="order__info-price2">₱ @order.TotalPrice</td>
                            <td><a asp-controller="User" asp-action="OrderDetails" asp-route-id="@order.OrderId">View Order</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="empty-container">
                        <td colspan="7"  class="empty">Your order is empty. Explore our selection and find something you love!</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</main>
