@model List<OrderDetails>

<h1 class="account__title">My Account</h1>
<main class="account container">
    <nav class="account__nav">
        <ul>
            <li><a asp-controller="User" asp-action="Profile">Profile</a></li>
            <li><a asp-controller="User" asp-action="MyOrder">My Order</a></li>
            <li class="active"><a>Order History</a></li>
        </ul>
    </nav>

    <section class="">
        <table class="order">
            <thead class="order__header">
                <tr>
                    <th><input type="checkbox" name="" id="" /></th>
                    <th>Book Details</th>
                    <th>Date Order</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>---</th>
                </tr>
            </thead>
            <tbody class="order__body">
                @if (Model is not null && Model.Any())
                {
                    @foreach(var order in Model)
                    {
                        <tr class="order__item">
                            <td><input type="checkbox" name="" id="" /></td>
                            <td class="order__info">
                                <div class="order__info-img-container">
                                    <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@order.BookId">
                                        <img src="~/images/books/@order.Book.Image" alt="@order.Book.Title" />
                                    </a>
                                </div>
                                <div class="order__info-details-container">
                                    <p class="order__info-title">
                                        @order.BookTitle
                                    </p>
                                    <p class="order__info-qty">QTY: <span>@order.Quantity</span></p>
                                    <p class="order__info-price">
                                        Price: <span>₱ @(order.Price * order.Quantity)</span>
                                    </p>
                                    <p class="order__info-payment">
                                        Payment Method: <span>@order.OrderHistory.PaymentMethod</span>
                                    </p>
                                    <p class="order__info-date">
                                        Date Order: <span>@order.OrderHistory.OrderDate.ToString("MMM. dd, yyyy")</span>
                                    </p>
                                    <p class="order__info-status">
                                        Status: <span>@order.OrderHistory.ItemStatus</span>
                                    </p>
                                </div>
                            </td>
                            <td class="order__info-date2">@order.OrderHistory.OrderDate.ToString("MMM. dd, yyyy")</td>
                            <td class="order__info-payment2">@order.OrderHistory.PaymentMethod</td>
                            <td class="order__info-status2">@order.OrderHistory.ItemStatus</td>
                            <td class="order__info-price2">₱ @(order.Price * order.Quantity)</td>
                            <td>---</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="empty-container">
                        <td colspan="7" class="empty">It looks like you haven’t made any purchases yet. Start shopping to add items to your order history!</td>
                    </tr>
                }

            </tbody>
        </table>
    </section>
</main>