@model CustomerInfo

@{
    var image = Model.ProfileImage;

    if (image is null)
    {
        image = "default_profile.png";
    }
}

<h1 class="account__title">My Account</h1>
<main class="account container">
    @* <nav class="account__nav">
        <ul>
            <li class="active"><a>Profile</a></li>
            <li><a asp-controller="User" asp-action="MyOrder">My Order</a></li>
            <li><a asp-controller="User" asp-action="OrderHistory">Order History</a></li>
        </ul>
    </nav> *@

    <section class="account__photo">
        <h1>Your Photo</h1>
        <div class="indent account__photo-container">
            <form asp-action="AddImage" method="post" enctype="multipart/form-data">
                <div class="account__photo-img">
                    <img src="~/images/profile_pic/@image" alt="Your current photo" />
                    <input type="file" name="file" accept="image/*" />
                </div>
                <div>
                    <button type="submit" class="account__photo-upload">Upload Photo</button>
                    <button type="submit" formaction="RemoveImage" class="account__photo-remove" onclick="return confirm('Are you sure you want to delete this photo?');">Remove Photo</button>
                </div>
            </form>
        </div>
    </section>
    
    <section class="account__details">
        <h1>Personal Details</h1>
        <div class="indent">
            <form>
                <div class="account__details-form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" value="@Model.FirstName" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" value="@Model.LastName" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <input asp-for="PhoneNumber" type="text" value="@Model.PhoneNumber" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" type="email" value="@Model.Email" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="House">House no./Blk/Lot/Street</label>
                    <input asp-for="House" type="text" value="@Model.House" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="Barangay">Barangay</label>
                    <input asp-for="Barangay" type="text" value="@Model.Barangay" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="City">City</label>
                    <input asp-for="City" type="text" value="@Model.City" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="Province">Province</label>
                    <input asp-for="Province" type="text" value="@Model.Province" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="ZipCode">Zip Code</label>
                    <input asp-for="ZipCode" type="text" value="@Model.ZipCode" readonly />
                </div>
                <div class="account__details-form-group">
                    <label asp-for="Birthday">Birthday<span class="optional">(optional)</span></label>
                    <input asp-for="Birthday" type="text" value="@Model.Birthday?.ToString("MMM. dd, yyyy")"  readonly/>
                </div>
                <a asp-controller="User" asp-action="EditProfile" asp-route-id="@Model.Id" class="account__details-edit">Edit Info</a>
            </form>
        </div>
    </section>
    <section class="account-change-delete">
        <div class="account__change">
            <h1>Change Password</h1>
            <div class="indent">
                <p>Would you like to change your password?</p>
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Yes, I want to change my password.</a>
            </div>
        </div>
        <div class="account__delete">
            <h1>Delete Account</h1>
            <div class="indent">
                <p>Would you like to delete your account?</p>
                <a href="">Yes, I want to delete my account.</a>
            </div>
        </div>
    </section>
</main>