@model BookViewModel

<main>
    <section class="hero">
        <img class="hero__image"
             src="/images/background-images/slider-background1.jpg"
             alt="" />
    </section>

    <section class="about">
        <div class="about__container">
            <div class="about__title">
                <p>Alikabook <span>bookstore</span></p>
            </div>
            <div class="about__description">
                <span>Welcome to AlikaBook</span> - your ultimate destination for
                all things programming and business literature! Dive into our
                extensive collection of books covering a wide range of topics, from
                programming languages and software development to entrepreneurship
                and business strategy.
            </div>
            <div class="about__img-container">
                <img src="~/images/background-images/reading-book.png" alt="" />
            </div>
            <div class="about__description">
                <span>AlikaBook</span> has something for everyone. Our user-friendly
                platform offers intuitive navigation, secure transactions, and a
                seamless shopping experience, ensuring that you can easily explore,
                discover, and purchase the books that inspire you.
            </div>
        </div>
    </section>

    <div class="book-section-container">
        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Recently Added</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Recently Added">See All</a>
                <div class="arrow arrow-left" id="arrowLeft1">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight1">
                    <i class="fa-solid fa-angle-right" ></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer1">
                @foreach (var book in Model.RecentBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Business & Economics</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Business & Economics">See All</a>
                <div class="arrow arrow-left" id="arrowLeft2">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight2">
                    <i class="fa-solid fa-angle-right" ></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer2">
                @foreach (var book in Model.BusinessBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Programming & Technology</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Programming & Technology">See All</a>
                <div class="arrow arrow-left" id="arrowLeft3">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight3">
                    <i class="fa-solid fa-angle-right" ></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer3">
                @foreach (var book in Model.ProgrammingBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Fiction</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Fiction">See All</a>
                <div class="arrow arrow-left" id="arrowLeft4">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight4">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer4">
                @foreach (var book in Model.FictionBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Non-Fiction</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Non-Fiction">See All</a>
                <div class="arrow arrow-left" id="arrowLeft5">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight5">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer5">
                @foreach (var book in Model.NonFictionBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Children’s Books</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Children’s Books">See All</a>
                <div class="arrow arrow-left" id="arrowLeft6">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight6">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer6">
                @foreach (var book in Model.ChildrenBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Graphic Novels & Comics</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Graphic Novels & Comics">See All</a>
                <div class="arrow arrow-left" id="arrowLeft7">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight7">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer7">
                @foreach (var book in Model.GraphicBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="book-section">
            <div class="book-title-container">
                <div class="book-category">
                    <p>Science & Nature</p>
                </div>
                <a class="see-all" asp-action="DisplayCategory" asp-route-category="Science & Nature">See All</a>
                <div class="arrow arrow-left" id="arrowLeft8">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="arrow arrow-right" id="arrowRight8">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="book-container" id="scrollContainer8">
                @foreach (var book in Model.ScienceBooks)
                {
                    var truncatedTitle = SD.TruncateTitle(book.Title, 12);

                    <div class="box">
                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId"><img src="~/images/books/@book.Image" alt="" /></a>
                        <div class="book-info">
                            <p class="title">@truncatedTitle</p>
                            <p class="price">&#8369;@book.Price</p>
                            <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@book.BookId">
                                <p class="see-more">see more</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </section>

    </div>
</main>

<script src="~/js/index.js" asp-append-version="true"></script>
