@model List<Cart>

@{
    decimal subtotal = 0, total = 0, shipping = 85, tax = 25.23M;
    int index = 0;
}

<form asp-action="SubmitOrder" method="post">
    <main class="cart-page container @(Model is null || !Model.Any() ? "cart-page-full" : "")">
        <section class="cart">
            <div class="cart__header">
                <i class="cart__header-back" onclick="history.back()">&#8592;</i>
                <h1 class="cart__header-title">My Cart</h1>
            </div>

            <table class="cart__table">
                @if (Model is not null && Model.Any()) 
                {
                    <thead class="cart__label">
                        <tr>
                            <th>Book</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                }
                <tbody class="display-items">
                    @if (Model is not null && Model.Any())
                    {
                        @foreach (var cart in Model)
                        {
                            total = cart.Price * cart.Quantity;
                            subtotal += total;
                            <tr>
                                <td class="cart__item">
                                    <div class="cart__item-img-container">
                                        <a asp-controller="Home" asp-action="BookDetails" asp-route-id="@cart.BookId"><img src="~/images/books/@cart.Image" alt="@cart.Book.Image" /></a>
                                    </div>
                                    <div class="cart__item-details">
                                        <h1>@cart.Title</h1>
                                        <div class="cart__item-qty">
                                            QTY:
                                            <button type="button" class="btnDecrease">-</button>
                                            <p class="cartQuantity">@cart.Quantity</p>
                                            <button type="button" class="btnIncrease">+</button>
                                        </div>

                                        @*  Hidden Inputs for OrderDetails  *@
                                        <input type="hidden" name="OrderDetails[@index].BookId" value="@cart.BookId" />
                                        <input type="hidden" name="OrderDetails[@index].BookTitle" value="@cart.Title" />
                                        <input type="hidden" class="order-book-quantity" name="OrderDetails[@index].Quantity" value="@cart.Quantity" />
                                        <input type="hidden" name="OrderDetails[@index].Price" value="@cart.Price" />

                                        <p class="bookPrice cart__item-price">₱@cart.Price</p>
                                    </div>
                                    <div class="bookPrice cart__item-total">₱@cart.Price</div>
                                    <div class="bookTotalPrice cart__item-total">₱@cart.Total</div>
                                </td>
                            </tr>
                            index++;
                        }
                    } else
                    {
                        <div class="empty-container">
                            <p class="empty">Your cart is empty. Explore our selection and find something you love!</p>
                        </div>
                    }
                </tbody>
            </table>
        </section>

        @if (Model is not null && Model.Any())
        {
            

        <section class="summary">
            <h1 class="summary-header">SUMMARY</h1>
            <div class="summary__subtotal">
                <div>
                    <h2>SUBTOTAL</h2>
                    <p>shipping fee</p>
                    <p>tax</p>
                </div>
                <div>
                    <p id="subTotal">₱@subtotal</p>
                    <p>₱@shipping</p>
                    <p>₱@tax</p>
                </div>
            </div>
            <div class="summary__total">
                <h2>Estimated Total</h2>
                <p id="estimatedTotal">₱@(subtotal + shipping + tax)</p>

                @*  Hidden input for Total Price  *@
                <input type="hidden" id="orderTotalPrice" name="ConfirmOrder.TotalPrice" value="@(subtotal + shipping + tax)" />
            </div>

            <div class="payment-method">
                <h2>Select Payment Method</h2>
                <div class="payment-radio">
                    <div class="payment-radio-group">
                        <label for="payment">
                            <img src="~/images/icons/cod.png" alt="cash on delivery icon" />
                            <p>Cash on Delivery</p>
                        </label>
                        <input type="radio" name="ConfirmOrder.PaymentMethod" value="Cash on Delivery" id="payment" checked />
                    </div>
                    <div class="payment-radio-group">
                        <label for="gcash">
                            <img src="~/images/icons/gcash.png" alt="gcash icon" />
                            <p>Gcash</p>
                        </label>
                        <input type="radio" name="ConfirmOrder.PaymentMethod" value="GCash" id="gcash" />
                    </div>
                    @* <div class="payment-radio-group"> *@
                    @*     <label for="googlepay"> *@
                    @*         <img src="~/images/icons/googlepay.png" alt="googlepay icon" id="googlepayimg" /> *@
                    @*         <p>Google Pay</p> *@
                    @*     </label> *@
                    @*     <input type="radio" name="ConfirmOrder.PaymentMethod" value="googlepay" id="googlepay" /> *@
                    @* </div> *@
                </div>  
            </div>

            <button class="summary__button" type="submit">Checkout</button>
        </section>
        }
    </main>
</form>

<script src="~/js/cart.js" asp-append-version="true"></script>
