@model OrdersViewModel

<main class="order container">
    <h1 class="add-books__title">Order</h1>
    <p class="order__sub-title">@(Model.Orders.Count() == 0 ? "no" : Model.Orders.Count().ToString()) orders found</p>

    <nav class="order__nav">
        <ul>
            <li class="@("All" == ViewBag.Status ? "active" : "")">
                <a asp-action="AllOrders" asp-route-status="All" asp-route-page="1">All Orders</a>
            </li>
            <li class="@("Pending" == ViewBag.Status ? "active" : "")">
                <a asp-action="AllOrders" asp-route-status="Pending" asp-route-page="1">Pending</a>
            </li>
            <li class="@("Delivering" == ViewBag.Status ? "active" : "")">
                <a asp-action="AllOrders" asp-route-status="Delivering" asp-route-page="1">Delivering</a>
            </li>
            <li class="@("Completed" == ViewBag.Status ? "active" : "")">
                <a asp-action="AllOrders" asp-route-status="Completed" asp-route-page="1">Completed</a>
            </li>
            <li class="@("Declined" == ViewBag.Status ? "active" : "")">
                <a asp-action="AllOrders" asp-route-status="Declined" asp-route-page="1">Declined</a>
            </li>
        </ul>
    </nav>


    <form asp-action="ChangeStatus" method="post">
        <input type="hidden" name="orderId" id="orderId" />
        <input type="hidden" name="status" id="status" />

        <table class="order__table">
            <thead class="order__table-header">
                <tr>
                    <th>
                        @* <input type="checkbox" name="" id="" /> *@
                    </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>   
            </thead>

            <tbody class="order__table-body">
                @foreach (var order in Model.Orders.Where(o => o != null))
                {
                    var image = order.User.ProfileImage; 
                    if (image is null) image = "default_profile.png";
                    var proofOfPayment = order.Order?.ProofOfPayment; 


                    if(order.Order is null)
                    {
                        <tr>
                            <td class="order__table-body-img">
                                <img src="~/images/profile_pic/@image" alt="@order.User.FirstName @order.User.LastName profile picture" />
                            </td>
                            <td class="order__table-body-details">
                                <h1>@order.User.FirstName @order.User.LastName</h1>
                                <p>@order.OrderHistory.OrderDate.ToString("dd MMM yyyy")</p>
                                <p>₱ @order.OrderHistory.TotalPrice</p>
                            </td>
                            <td class="order__table-body-id">
                                <p>ID: <span>@order.OrderDetailId</span></p>
                                <div>@order.OrderHistory.ItemStatus</div>
                            </td>
                            <td class="order__action-cell">
                                <i class="fa-solid fa-ellipsis-vertical" onclick="toggleDropdown(event)"></i>
                                <div class="dropdown">
                                    <a asp-action="OrderDetailsHistory" asp-route-id="@order.OrderHistoryId" class="dropdown-item">View Order</a>
                                    @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash")
                                    {
                                        <button type="button" class="dropdown-item" data-proof-of-payment="@proofOfPayment" data-id="@order.Order?.OrderId" id="showProofModalBtn">View Proof of Payment</button>
                                    }

                                    @* <a href="#delete" class="dropdown-item" onclick="deleteOrder('@order.OrderHistory.OrderHistoryId')">Delete</a> *@
                                </div>
                            </td>
                            <td class="order__table-body-big">
                                <div>@* <input type="checkbox" name="" id="" /> *@ </div>
                                <div>@order.OrderDetailId</div>
                                <div>@order.User.FirstName @order.User.LastName</div>
                                <div>@order.OrderHistory.OrderDate.ToString("dd MMM yyyy")</div>
                                <div>₱ @order.OrderHistory.TotalPrice</div>
                                <div>@order.OrderHistory.PaymentMethod</div>
                                <div class="status">@order.OrderHistory.ItemStatus</div>
                                <div class="order__action-cell">
                                    <i class="fa-solid fa-ellipsis-vertical" onclick="toggleDropdown(event)"></i>
                                    <div class="dropdown">
                                        <a asp-action="OrderDetailsHistory" asp-route-id="@order.OrderHistoryId" class="dropdown-item">View Order</a>
                                        @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash")
                                        {
                                            <button type="button" class="dropdown-item" data-proof-of-payment="@proofOfPayment" data-id="@order.Order?.OrderId" id="showProofModalBtn">View Proof of Payment</button>
                                        }

                                        @* <a href="#delete" class="dropdown-item" onclick="deleteOrder('@order.OrderHistory.OrderHistoryId')">Delete</a> *@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="order__table-body-img">
                                <img src="~/images/profile_pic/@image" alt="@order.User.FirstName @order.User.LastName profile picture" />
                            </td>
                            <td class="order__table-body-details">
                                <h1>@order.User.FirstName @order.User.LastName</h1>
                                <p>@order.Order.OrderDate.ToString("dd MMM yyyy")</p>
                                <p>₱ @order.Order.TotalPrice</p>
                            </td>
                            <td class="order__table-body-id">
                                <p>ID: <span>@order.OrderDetailId</span></p>
                                <div>@order.Order.ItemStatus</div>
                            </td>
                            <td class="order__action-cell">
                                <i class="fa-solid fa-ellipsis-vertical" onclick="toggleDropdown(event)"></i>
                                <div class="dropdown">
                                    <div class="dropdown-item dropdown-item-status" onclick="toggleDropdown(event)">Change Status</div>
                                    <div class="dropdown-item-status-items">
                                        @*  <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Pending')">Pending</button> *@
                                        <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Delivering')">Delivering</button>
                                        <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Completed')">Completed</button>
                                        @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash") {
                                            <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Declined')">Declined</button>
                                        }
                                    </div>
                                    @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash")
                                    {
                                        <button type="button" class="dropdown-item" data-proof-of-payment="@proofOfPayment" data-id="@order.OrderId" id="showProofModalBtn">View Proof of Payment</button>
                                    }

                                    <a asp-action="OrderDetails" asp-route-id="@order.OrderId" class="dropdown-item">View Order</a>
                                    @* <a href="#delete" class="dropdown-item" onclick="deleteOrder('@order.Order.OrderId')">Delete</a> *@
                                </div>
                            </td>
                            <td class="order__table-body-big">
                                <div></div>@* <input type="checkbox" name="" id="" /> *@
                                <div>@order.OrderDetailId</div>
                                <div>@order.User.FirstName @order.User.LastName</div>
                                <div>@order.Order.OrderDate.ToString("dd MMM yyyy")</div>
                                <div>₱ @order.Order.TotalPrice</div>
                                <div>@order.Order.PaymentMethod</div>
                                <div class="status">@order.Order.ItemStatus</div>
                                <div class="order__action-cell">
                                    <i class="fa-solid fa-ellipsis-vertical" onclick="toggleDropdown(event)"></i>
                                    <div class="dropdown">
                                        <div class="dropdown-item dropdown-item-status" onclick="toggleDropdown(event)">Change Status</div>
                                        <div class="dropdown-item-status-items">
                                            @* <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Pending')">Pending</button> *@
                                            @if(order.Order.ItemStatus is not "Delivering" ) {
                                                <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Delivering')">Delivering</button>
                                                @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash")
                                                {
                                                    <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Declined')">Declined</button>
                                                }
                                            }
                                            @if (order.Order.ItemStatus is not "Pending") {
                                                <button type="submit" onclick="setStatus('@order.Order.OrderId', 'Completed')">Completed</button>
                                            }

                                            
                                        </div>
                                            @if (!string.IsNullOrEmpty(proofOfPayment) && order.Order?.PaymentMethod == "GCash")
                                            {
                                            <button type="button" class="dropdown-item" data-proof-of-payment="@proofOfPayment" data-id="@order.Order?.OrderId" id="showProofModalBtn">View Proof of Payment</button>
                                            }
                                        <a asp-action="OrderDetails" asp-route-id="@order.OrderId" class="dropdown-item">View Order</a>

                                        @* <a href="#delete" class="dropdown-item" onclick="deleteOrder('@order.Order.OrderId')">Delete</a> *@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </form>

    @if (Model.TotalPages > 1)
    {
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a asp-action="AllOrders" asp-route-page="@(Model.CurrentPage - 1)" asp-route-status="@Model.Status">
                    <div class="pagination-box">Previous</div>
                </a>
            }

            @foreach (var pageNumber in Model.PageNumbersToDisplay)
            {
                <a asp-action="AllOrders" asp-route-page="@pageNumber" asp-route-status="@Model.Status"
                   class="@(pageNumber == Model.CurrentPage ? "active" : "")">
                    <div class="pagination-box">@pageNumber</div>
                </a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-action="AllOrders" asp-route-page="@(Model.CurrentPage + 1)" asp-route-status="@Model.Status">
                    <div class="pagination-box">Next</div>
                </a>
            }
        </div>
    }
</main>

<div id="proofModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <img id="proofImage" src="" alt="Proof of Payment" />
    </div>
    <form asp-action="DeclinedStatus" method="post">
        <input type="hidden" id="declineOrderId" name="orderId" value="" /> 
        <button class="modal-decline-button">&#120;</button>
    </form>
    <form asp-action="DeclinedStatus" method="post">
        <input type="hidden" id="acceptOrderId" name="orderId" value="" />
        <input type="hidden" name="status" value="Delivering" />
        <button class="modal-accept-button">&#10004;</button>
    </form>
</div>


<script src="~/js/ellipsis.js" asp-append-version="true"></script>
<script>
    document.getElementById("")
</script>