@model IEnumerable<CustomerInfo>

@{
    var customerRoles = ViewBag.CustomerRoles as Dictionary<string, List<string>>;
    var i = 1;
}

<main class="order container">
    <h1 class="add-books__title">User</h1>
    @* <p class="order__sub-title">122 orders found</p> *@

    <nav class="order__nav">
        <ul>
            <li class="active"><a href="#">All Users</a></li>
            <li><a asp-controller="Admin" asp-action="CustomerList">Customers</a></li>
            <li><a asp-controller="Admin" asp-action="AdminList">Admin</a></li>
        </ul>
    </nav>

    <table class="order__table">
        <thead class="order__table-header">
            <tr>
                <th>
                    @* <input type="checkbox" name="" id="" /> *@
                </th>
                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date Created</th>
                <th>Phone Number</th>
                <th>User Type</th>
                @* <th>Action</th> *@
            </tr>
        </thead>
        <tbody class="order__table-body">
            @foreach (var customer in Model)
            {

                var image = customer.ProfileImage;
                if (image is null) image = "default_profile.png";

                <tr>
                    <td class="order__table-body-img">
                        <img src="~/images/profile_pic/@image" alt="@customer.FirstName @customer.LastName profile picture" />
                    </td>
                    <td class="order__table-body-details">
                        <h1>@customer.FirstName @customer.LastName</h1>
                        <p>@customer.Email</p>
                        <p>@customer.PhoneNumber</p>
                    </td>
                    <td class="order__table-body-id">
                        <p>#<span>@i</span></p>
                        <div>
                            @if (customerRoles != null && customerRoles.ContainsKey(customer.Id))
                            {
                                var roles = customerRoles[customer.Id];
                                foreach (var role in roles)
                                {
                                    if (role == "611568ea-f96a-45b0-b520-129f7b964cb9")
                                    {
                                        <span class="user_Mobile">User</span>
                                    }
                                    else
                                    {
                                        <span class="admin_Mobile">Admin</span>
                                    }
                                }
                            }
                        </div>
                    </td>
                    <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                    <td class="order__table-body-big">
                        <div></div>@* <input type="checkbox" name="" id="" /> *@
                        <div>#@i</div>
                        <div>@customer.FirstName @customer.LastName</div>
                        <div>@customer.Email</div>
                        <div>@customer.dateCreated.ToString("MMM. dd, yyyy")</div>
                        <div>@customer.PhoneNumber</div>
                        <div class="status user">
                            @if (customerRoles != null && customerRoles.ContainsKey(customer.Id))
                            {
                                var roles = customerRoles[customer.Id];
                                foreach (var role in roles)
                                {
                                    if (role == "611568ea-f96a-45b0-b520-129f7b964cb9")
                                    {
                                        <span class="user_PC">User</span>
                                    }
                                    else
                                    {
                                        <span class="admin_PC">Admin</span>
                                    }
                                }
                            }
                        </div>
                        @* <i class="fa-solid fa-ellipsis"></i> *@
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</main>