@model BookInfo

<main class="container book-details-container">
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="" class="active">Business</a></li>
        <li><a href="" class="active">Traction: Get a Drip</a></li>
    </ol>

    <section class="book-details">
        <div class="book-details__container">
            <img src="~/images/books/@Model.Image" alt="" />
        </div>
        <div class="book-details__info">
            <form action="">
                <h2 class="book-details__info-title">
                    @Model.Title
                </h2>
                <p class="book-details__info-author">
                    By @Model.Author
                </p>
                <div class="book-details__info-star-stocks">
                    @if(Model.RatingCount != 0)
                    {
                        <div class="book-details__info-rating">
                            <p class="book-rating">Ratings: @(Model.Rating)</p>
                            <p class="rating-count">(@Model.RatingCount people)</p>
                        </div>
                    }
                    <div class="stocks">
                        <p>Stocks: &nbsp;</p>
                        <p>@Model.Stock</p>
                    </div>
                </div>
                <h2 class="book-details__info-price">&#8369; 935.75</h2>
                <a asp-controller="Admin" asp-action="EditBooks" asp-route-id="@Model.BookId" class="book-details__info-btn">Update Book</a>
                <a class="book-details__info-btn delete">Delete Book</a>
            </form>
        </div>
    </section>

    <section class="book-description">
        <h1 class="book-description__h1">Description</h1>
        <hr class="book-description__hr" />
        <p class="book-description__p">
            @Model.Description
        </p>
    </section>
</main>